* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  color: #2f3542;
}
